.App {
  text-align: center;
}
.Account,
.Contact,
.AboutUs,
.Calculator,
.Checkout {
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  text-align: left;
}

.Login,
.Success {
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  text-align: center;
}

.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logincard {
  width: 100%;
  background-color: grey;
  display: flex;
}

.login {
  width: 100%;
  align-items: center;
}

.checkImage {
  width: auto;
  height: 100px;
}

.plan {
  background-color: rgba(128, 128, 128, 0.1);
  padding: 30px;
  height: 550px;
}
.plan-col {
  height: 500px;
}

#cardtitle{
  font-size: 0.9rem;
}

.addons{
  background-color: rgba(128, 128, 128, 0.1);
  padding: 30px;
  height: 250px;
  width: 200%;
}

.plandetails{
  background-color: rgba(128, 128, 128, 0.1);
  padding: 30px;
  height: auto;
  width: 65%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-custom {
  background-color: #B22222; 
  margin: 20px auto; 
  width: 80%; 
  border-radius: 10px;
  padding-left: 20px;
}

.nav-logo {
  width: 40px; 
  height: auto;
}

.nav-link.active {
  color: white;
}

.ms-auto{
  margin-right: 10px;
  font-size: 1.7rem;
}

.btn:hover,
.btn{
  background-color: #B22222 !important; 
  border-color: #B22222 !important; 
  color: white !important; 
  box-shadow: none !important;
  border: 2px solid transparent !important;
  padding: 35px; 
}

.btn:active{
  background-color: #8d1212 !important; 
  border-color: #B22222 !important;
  color: white !important;
  box-shadow: none !important;
  border: 2px solid transparent !important; 
  padding: 35px;
}

.GetStarted{
  padding-top: 70px;
}

.ViewAlso{
  padding-top: 70px;
  background-color: gray;
  padding: 100px;
}

.Footer{
  padding-top: 400px;
}

#ViewAlso{
  font-weight: bold;
}

.Insurance{
  font-weight: bold;
  text-decoration: underline;
}

.mt-5{
  background-color: gray;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.carousel-container {
  max-width: 800px; 
  margin: auto;
}

.carousel-image {
  width: 100%;
  height: 400px; 
  object-fit: cover; 
}

.transbox {
  background: rgba(0, 0, 0, 0.3)
}

.space{
  margin-bottom: 30px;
  color: black;
  text-decoration: none;
}

.icon {
  width: 150px; 
  height: auto;
}

.a:link{
  color: black;
}

.space a:hover {
  color: black;
  background: #B22222;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

#map {
  width: 900px;
  height: auto;
}

.questionMark {
  width: 20px;
  height: auto;
  margin-left: 0.2rem;
}

.questionMark:hover {
  width: 25px;
  height: auto;
  margin-left: 0.2rem;
}

.tooltip .tooltip-inner{
  background-color: grey;
  margin-left: 10px;
}

.accordion {
  width: 60%;
}